{% extends 'base.html' %} 

{% block title %}
  Characters
{% endblock %}

{% block content %}

<h1 class="title pt-5">{{header}}</h1>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="name" placeholder="Name" />
    </div>
    <div class="control">
      <input style="background-color: darkred;" class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <a class="button is-dark" style="background-color: black;" href="{% url 'character_list' %}">Clear Search</a>
  <a class="button is-dark" style="background-color: black;" href="{% url 'character_create' %}">Add Character</a>
</form>
<div class="gallery">
  {% for character in characters %}
  <a href="{% url 'character_detail' character.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img style="object-fit: cover" src="{{character.img}}" alt="{{character.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{character.name}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}