{% extends 'base.html' %} 

{% block title %}
  {{character.name}}
{% endblock %}

{% block content %}

<div class="detail__img">
  <img src="{{character.img}}" alt="{{character.name}}" />
</div>
<div class="detail__name">
  {% if character.verified_hero %}
  <div class="icon-text">
    <span class="icon has-text-info">
      <i class="fas fa-check-circle"></i>
    </span>
    <span>Hero</span>
  </div>
  {% endif %}
  <h1 class="title">{{character.name}}</h1>
</div>
<div class="detail__container">
  <div class="buttons">
    <a href="{% url 'character_update' character.pk %}" class="button is-info">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    </a>
    <a href="{% url 'character_delete' character.pk %}" class="button is-danger">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
    </a>
  </div>
  <div class="detail__about">
    <h4 class="title is-4">About</h4>
    <p>{{character.bio}}</p>
  </div>
</div>

{% endblock %}